<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>Tomas Iglesias</title>
</head>

<body>
    <button class="about-me button">About me</button>
    <button class="proyects button">Proyectos</button>
    <button class="contact button">Contacto</button> 
</body>

</html>